@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraMono-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/FiraMono-Bold.woff") format("woff");
}
